body>.container{/* sovrascrizione bootstrap */
    background-color: white;
    margin-left: 0px ;
    margin-right: 0px ;
}
body{
    background-color: rgb(252, 251, 200);
}
/* HEADER */
header{
    position: relative;
}
header img{
    position: absolute;
    top: 0px;
    right: -120px;
}